NODE_ENV=development
DATABASE_URL=postgresql://neer:change_me@postgres:5432/neer_data_base
REDIS_URL=redis://redis:6379
KAFKA_BROKERS=kafka:9092
JWT_SECRET=change_this_secret
DEFAULT_LOCALE=pt-BR
DEFAULT_CURRENCY=USD
API_PORT=3000
DASHBOARD_PORT=3010
